<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
         <mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
         <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
        <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
      </staticContent>
   </system.webServer>
</configuration>