<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800,900|Pacifico">
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
        <link rel="stylesheet" href="css/onepage-scroll.css">
        <link rel="stylesheet" href="css/main.css">

        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie9-and-down.css" />
    <![endif]-->
   <link href="/public/favicon.ico" rel="icon" type="image/x-icon" />

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>

    <body>

    <div class="main">

      <section class="home">
        <div class="container">

            <div class="home-phone hide hidden-xs col-xs-12 col-sm-5">
                <img src="img/iphone-3.png" class="iphone-3 " alt="">
            </div>

            <div class="row">

                <div class="home-copy  col-xs-12 col-sm-8 col-sm-offset-2 animated fadeInDown delay-2 ">
                    <h1 class="demo1">Iron Wing <br> Innovation</h1>

                    <p>Designing software tools to improve how hospitals deal with major emergencies</p>

                    <span class="take-a-look animated fadeInDown delay-8"><i class="entypo-down-open"></i>Take a look</span>
                </div>
            </div>

        </div>
      </section>

      <section class="slide-1 slide full-color">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 iphone-container ">
                    <img src="img/iphone-1.png" class="hide iphone-1" alt="">
                </div>

                <div class="col-xs-12 col-sm-4 copy">
                    <h2 class=" hide slide-1-title slide-titles">  Crisis Control </h2>
                    <p class="slide-1-1 hide">
                        When dealing with a major incident, speed, communication and clarity are essential.
                    </p>
                    
                    <p class="slide-1-2 hide hidden-xs">
                        Live notifications, messaging and updates via smartphones will allow us to take emergency response into the 21st century.
                    </p>

                    <p class="slide-1-3 hide hidden-xs">
                        We build for the cloud so that no crisis is too large.
                    </p>
                    
                    <i class="hide entypo-down-open slide-1-scroll scroll-down"></i>
                </div>
            </div>
        </div>
      </section>

      <section class="slide-2 slide full-color">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-4 copy">
                    <h2 class=" hide slide-2-title slide-titles"> Built From The Ground Up  </h2>

                    <p class="slide-2-1 hide">
                        Iron Wing is based in Christchurch, New Zealand, a city with plenty of history.
                    </p>
                    
                    <p class="slide-2-2 hide hidden-xs">
                        We've been inspired by the tales of emergency management at Christchurch Hospital.
                    </p>

                    <p class="slide-2-3 hide hidden-xs">
                        We hope to be part of their story in the future.
                    </p>
                </div>

                <div class="col-xs-12 col-sm-4 iphone-container">
                    <img src="img/iphone-2.png" class="hide iphone-2" alt="">
                </div>

                <div class="col-xs-12 col-sm-4 copy">
                    
                    <p class="slide-2-4 hide hidden-xs">
                        A system will fail if it's not geared towards the end user.
                    </p>
                    
                    <p class="slide-2-5 hide hidden-xs">
                        With both clinical and software backgrounds, we realise how important your views are in developing a solid platform.
                    </p>

                    <p class="slide-2-6 hide hidden-xs">
                        We want you to get the very best out of this emergency tool.
                    </p>
                    <i class="hide entypo-down-open slide-2-scroll scroll-down hidden-xs"></i>
                </div>
            </div>
        </div>
      </section>
      <section class="slide-3 slide full-color">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 copy">
                    <h2 class=" hide slide-3-title slide-titles">  Iron Wing </h2>
                    <p class="slide-3-1 hide">
                        We aren't reinventing the wheel, we're just giving you a faster motor.
                    </p>
                    
                    <p class="slide-3-2 hide hidden-xs">
                        A well-informed, well-designed and intuitive system could go a long way in a crisis...
                    </p>

                    <p class="slide-3-3 hide hidden-xs">
                        ...but we can't do it alone. We want to hear from policymakers, clinicians, administrators... anyone really. Scroll down to give us your thoughts.
                    </p>
                    <i class="hide entypo-down-open slide-3-scroll scroll-down hidden-xs"></i>
                </div>

                <div class="col-xs-12 col-sm-6 iphone-container ">
                    <img src="img/iphone-3.png" class="hide iphone-3" alt="">
                </div>
            </div>
            
        </div>
      </section>
      <section class="contact full-color">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <h2>Get in touch</h2>
                <p> We're in all the usual places, so drop us a line. We value your feedback and hope you're as excited about the possibilities as we are.</p>

                <div class="newsletter clearfix">
                    
                </div>
                <div class="social clearfix">
                    <a href="mailto:info@ironwing.co.nz" class="social-item facebook"><i class="entypo-mail"></i></a>
                    <a href="https://www.facebook.com/ironwinginnovation" class="social-item facebook"><i class="entypo-facebook"></i></a>
                    <a href="https://twitter.com/JacobDuval" class="social-item twitter"><i class="entypo-twitter"></i></a>
                </div>
            </div>
        </div>
      </section>

    </div> <!-- /main --> 

    <div class="icon animated fadeInLeft delay-3">
        <span> Iron Wing </span>
    </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery-ui-1.8.22.custom.min.js"></script>
        <script src="js/vendor/jquery.imagesloaded.min.js"></script>
        <script src="js/vendor/video.js"></script>
        <script src="js/vendor/bigvideo.js"></script>
        <script src="js/vendor/jquery.simple-text-rotator.min.js"></script>
        <script src="js/vendor/jquery.onepage-scroll.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
